@charset "utf-8";
/* CSS Document */

a{text-decoration:underline;}
a:hover{text-decoration:none;}

p{
	font-size:12px;
	line-height:16px;
}

h3{
	color:#0066cc;
	font-size:24px;
	font-weight:400;
	display:block;
	margin-bottom:10px;
}