<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./files/images/logo.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Now Ui Kit by Creative Tim</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <!-- CSS Files -->
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="./assets/css/now-ui-kit.css" rel="stylesheet" />
    <!-- <link href="./files/css/material-kit.min.css" rel="stylesheet" /> -->
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="./assets/css/demo.css" rel="stylesheet" />
</head>

<body class="index-page sidebar-collapse" ng-app="myApp" ng-controller="main">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-default fixed-top navbar-transparent " color-on-scroll="400">
        <div class="container">
            <div class="navbar-translate">
                 <a  href="index.php" class="navbar-brand"> 
                        <img src="./files/images/logo.png" width="50">
                    </a>
                <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation" data-nav-image="./assets/img/blurred-image-1.jpg">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="./index.html" target="_blank">
                            <i class="now-ui-icons design_app"></i>
                            <p>Components</p>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown">
                            <i class="now-ui-icons files_paper" aria-hidden="true"></i>
                            <p>Sections</p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="./sections.html#headers">
                                <i class="now-ui-icons shopping_box"></i> Headers
                            </a>
                            <a class="dropdown-item" href="./sections.html#features">
                                <i class="now-ui-icons ui-2_settings-90"></i> Features
                            </a>
                            <a class="dropdown-item" href="./sections.html#blogs">
                                <i class="now-ui-icons text_align-left"></i> Blogs
                            </a>
                            <a class="dropdown-item" href="./sections.html#teams">
                                <i class="now-ui-icons sport_user-run"></i> Teams
                            </a>
                            <a class="dropdown-item" href="./sections.html#projects">
                                <i class="now-ui-icons education_paper"></i> Projects
                            </a>
                            <a class="dropdown-item" href="./sections.html#pricing">
                                <i class="now-ui-icons business_money-coins"></i> Pricing
                            </a>
                            <a class="dropdown-item" href="./sections.html#testimonials">
                                <i class="now-ui-icons ui-2_chat-round"></i> Testimonials
                            </a>
                            <a class="dropdown-item" href="./sections.html#contactus">
                                <i class="now-ui-icons tech_mobile"></i> Contact Us
                            </a>
                        </div>
                    </li>
                    
                    <!-- <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>
                        <p class="hidden-lg-up">Twitter</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>
                        <p class="hidden-lg-up">Facebook</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Instagram" data-placement="bottom" href="https://www.instagram.com/CreativeTimOfficial" target="_blank">
                        <i class="fa fa-instagram"></i>
                        <p class="hidden-lg-up">Instagram</p>
                    </a>
                </li> -->
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    
    <div class="wrapper">
        <div class="page-header clear-filter" filter-color="orange">
            <div class="page-header-image" data-parallax="true" style="background-size: 100%;background-image: url(./files/images/slide.jpg);background-repeat-x: no-repeat;background-repeat-y: no-repeat; transform: translate3d(0px, 0px, 0px);min-height: 65vh;">
            </div>
            <div class="container">
               <!--  <div class="content-center brand">
                    <img class="n-logo" src="./assets/img/now-logo.png" alt="">
                    <h1 class="h1-seo">Now UI Kit.</h1>
                    <h3>A beautiful Bootstrap 4 UI kit. Yours free.</h3>
                </div> -->
                
            </div>
        </div>
         <div class="main main-raised">
            <div class="section " style="padding-top: 5px" align="center">  
                <div class="container">
                    <div class="tm-section-header section-margin-top" id="popular">
                        <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <h2 class="tm-section-title">Popular Packages</h2>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-3"><hr></div>  
                    </div>
                    <div class="row">
                        <div style="width: 100%" align="center">
                            <div class="col-sm-4 " ng-repeat="item in tourpopular">
                                <div class="card card-product card-plain card-rotate">
                                    <div class="rotating-card-container">
                                        <div class="card-image">
                                            <div class="front">
                                                <img class="img" src="./data/files/upload/icon/{{item.icon}}"  style="height: 280px">
                                                <div class="colored-shadow" style="background-image: url(&quot;files/images/dolce.jpg&quot;); opacity: 1;"></div>
                                            </div>
                                            <div class="back back-background" style="height: 376px; width: 360px; background-image: url(&quot;files/images/page1_img1.jpg&quot;);">
                                                <div class="card-content">
                                                    <div class="footer text-center">
                                                      <a href="view.php#?data={{item.id}}" class="btn  btn-white">
                                                        <i class="material-icons">info</i> Details
                                                      </a>                                                     
                                                    </div>
                                                    <hr>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                            <a href="" ng-bind="item.name"></a>
                                        </h4>
                                        <p class="card-description" ng-bind="item.description" style="height: 125px;overflow: hidden;">                                          
                                        </p>
                                        <div class="footer">                                            
                                            <div class="" style="display: inline-block;" align="right">
                                                <div type="button" rel="tooltip" title="" class="btn btn-simple " data-original-title="place" style=" margin-top: 0; text-transform: none;margin: 0;font-size: 16px;padding: 0;margin-left: -80px;">
                                                    <i class="material-icons" style="line-height: 2;">place</i>
                                                    <span ng-bind="item.city"></span>
                                                </div>
                                            </div>
                                            <div class="price-container" align="left" style="float: right;">
                                                <span class="price price-old"> <!-- 12,500 --></span>
                                                <span class="price price-new" ng-bind="item.net_price_adult | currency:'':0 "> </span> / Package
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>                
            </div>
        </div>
       
        <div class="main">
            
       <div class="section section-blog" id="area" >
        <div class="container">
            <div class="row">
                <div class="col-md-12">   
                    <h2 class="section-title">Area</h2>      
                    <ul class="nav nav-pills nav-pills-icons" role="tablist" style="margin-bottom: 25px;">
                        <li class="active protab" id="Phuket"><a href="#pill1" class="nav-link" data-toggle="tab" aria-expanded="true" ng-click="getTourforarea('Phuket');show = !show">Phuket</a></li>
                        <li class="protab" id="Phangnga"><a href="#pill2" class="nav-link" data-toggle="tab" aria-expanded="false" ng-click="getTourforarea('Phang nga');show = !show">Phang nga</a></li>
                        <li class="protab" id="Krabi"><a href="#pill3" class="nav-link" data-toggle="tab" aria-expanded="false" ng-click="getTourforarea('Krabi');show = !show">Krabi</a></li>
                        <li class="protab" id="PhiPhiisland"><a href="#pill3" class="nav-link" data-toggle="tab" aria-expanded="false" ng-click="getTourforarea('Phi Phi island');show = !show">Phi Phi island</a></li>
                        <li class="protab" id="All"><a href="#pill3" class="nav-link" data-toggle="tab" aria-expanded="false" ng-click="getTourforareaall('All');show = !show">All</a></li>
                    </ul> 
                </div>
            </div>    
            <div class="row">
                <div class="col-md-3" ng-repeat="item in dataTour" id="fade-in-out" >
                    <div class="card card-blog" >
                        <div class="card-image" ng-click="viewpackageforid(item.id)">
                            <img src="./data/files/upload/icon/{{item.icon}}" style="height: 180px" >
                        </div>
                        <div class="card-content">
                            <h6 class="category text-rose" ng-bind="item.name"></h6>                      
                            
                        </div>
                        <div class="description-package">
                            <p class="card-description" ng-bind="item.description"></p>
                        </div>
                        <div class="cost-pro">
                            <i class="material-icons" style="display: inline-block; line-height: 0;">place</i>
                            <p class="pro-item" ng-bind="item.province" align="left" ></p>

                            <p style="float: right;display: inline-block;">/ Package</p>
                            <p ng-bind="item.net_price_adult | currency:'':0 " align="right" style="float: right;    color: #FF5722;"></p>
                        </div>
                    </div>
                </div>
            </div>       
        </div>
    </div>
     <!-- end-main-raised -->
            <!-- <div class="section section-images">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="hero-images-container">
                                <img src="assets/img/hero-image-1.png" alt="">
                            </div>
                            <div class="hero-images-container-1">
                                <img src="assets/img/hero-image-2.png" alt="">
                            </div>
                            <div class="hero-images-container-2">
                                <img src="assets/img/hero-image-3.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            
            
            
        <!-- Sart Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="now-ui-icons ui-1_simple-remove"></i>
                        </button>
                        <h4 class="title title-up">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">Nice Button</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--  End Modal -->
        <!-- Mini Modal -->
        <div class="modal fade modal-mini modal-primary" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <div class="modal-profile">
                            <i class="now-ui-icons users_circle-08"></i>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>Always have an access to your profile</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link btn-neutral">Back</button>
                        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-line subscribe-line-image" data-parallax="true" style="background-image: url(&#39;files/images/bg_body.jpg&#39;);" id="footers">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ">
          <div class="text-center">
            <h3 class="title">Subscribe to our Newsletter</h3>
            <p class="description">
              Join our newsletter and get news in your inbox every week! We hate spam too, so no worries about this.
            </p>
          </div>

          <div class="card card-raised card-form-horizontal">
            <div class="card-content">
              <form method="">
                <div class="row">
                  <div class="col-sm-8">

                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">mail</i>
                      </span>
                      <div class="form-group is-empty"><input type="email" value="" placeholder="Your Email..." class="form-control"><span class="material-input"></span><span class="material-input"></span></div>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <button type="button" class="btn btn-rose btn-block">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
        

        <div class="col-md-4 col-md-offset-1" >
          <h5 style="color: #fff">Contacts</h5>
          <div class="contact" id="contact">             
            <ul >
              <li class="">Address: <a>100/16 Moo 5 , Soi 1 Chalernprakiet Rd., T.Rassada Muang Phuket Thailand 83000</a></li>
              <li class="">Phones: <a href="tel:#" style="display: inline-block;">(+66) 096-6409949</a>; <a href="tel:#" style="display: inline-block;">087-2794723</a></li>
              <li class="">E-mail: <a href="mailto:#" style="display: inline-block;"> sele@danatoursasia.com</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
        <!--  End Modal -->
        <footer class="footer" data-background-color="black">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="https://www.creative-tim.com">
                                Creative Tim
                            </a>
                        </li>
                        <li>
                            <a href="http://presentation.creative-tim.com">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="http://blog.creative-tim.com">
                                Blog
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/creativetimofficial/now-ui-kit/blob/master/LICENSE.md">
                                MIT License
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                    &copy;
                    <script>
                        document.write(new Date().getFullYear())
                    </script>, Designed by
                    <a href="http://www.invisionapp.com" target="_blank">Invision</a>. Coded by
                    <a href="https://www.creative-tim.com" target="_blank">Creative Tim</a>.
                </div>
            </div>
        </footer>
    </div>
</body>
<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js" type="text/javascript"></script>
    <script src="files/js/angular-cookies.min.js" type="text/javascript"></script>
    <script src="files/js/angular-scroll.js" type="text/javascript"></script>
    <script src="files/js/main.js" type="text/javascript"></script>
<!--   Core JS Files   -->
<script src="./assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="./assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="./assets/js/plugins/bootstrap-switch.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the DatePicker, full documentation here: https://github.com/uxsolutions/bootstrap-datepicker -->
<script src="./assets/js/plugins/bootstrap-datepicker.js" type="text/javascript"></script>
<!-- Control Center for Now Ui Kit: parallax effects, scripts for the example pages etc -->
<script src="./assets/js/now-ui-kit.js?v=1.1.0" type="text/javascript"></script>
<!-- <script src="./files/js/material-kit.min.js" type="text/javascript"></script> -->
<script type="text/javascript">
    $(document).ready(function() {
        // the body of this function is in assets/js/now-ui-kit.js
        // nowuiKit.initSliders();
    });

    function scrollToDownload() {

        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }
</script>
<style>
    .main-raised {
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
    margin-bottom: 20px;
}
.obj3 {
    width: 132px;
    height: 134px;
    position: absolute;
    top: -60px;
    right: 50px;
    z-index: -8;
}

      
@media (min-width: 992px){

}
@media (min-width: 768px){


}
@media (min-width: 520px){


}
.navbar.navbar-transparent{
    color: #fff;
}
.section{
    padding: 0;
}
  
.contact>ul>li{
    color: #fff;
}
.contact>ul>li>a{
    color: #f9b707;
    padding: 6px;
    display: inline-block;
}
.copy{
    font-size: 10px;
    float: left;
    color: #fff;
    line-height: 4;
}
.socials{
    float: right;
}
.socials a {
    color: #fff;
}      
.cost-pro{
    position: absolute;
    padding: 0 15px;
    bottom: 10px;
    width: 100%;
}
.cost-pro p {
    display: inline-block;
}
.card-blog, .card-testimonial .card-description+.card-title, .card-testimonial .icon {
    margin-top: 30px;
    min-height: 435px;
}
.card .card-content {
    padding: 10px 25px;
}
.description-package{
    padding: 0 25px;
}
.tm-section-header {
    margin-bottom: 10px;
    overflow: hidden;
}
.tm-section-title {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 300;
}
.section-margin-top {
    margin-top: 10px;
}
.section-margin-top div h2{
    color: #f3aa29;
}
.card .footer .stats .material-icons {
    position: relative;
    top: -4px; 
    font-size: 18px;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #00bcd4;
}
#fade-in-out {
    transition: 1s linear all;  
    opacity: 1;
}

#fade-in-out.ng-hide {
    opacity: 0;
}
.card-product {
     margin-top: 0; 
}
.contact ul li {
    list-style: none;
}
.socials a {
    background: url(../images/time_bg2.png) 0 center repeat-x;
    float: left;
    display: block;
    font-size: 20px;
    width: 40px;
    height: 37px;
    color: #e5e5e5;
    text-align: center;
    line-height: 37px;
    border-radius: 7px;
}
.nav-pills>li>a {
    line-height: 24px;
    /*text-transform: uppercase;*/
    font-size: 12px;
    font-weight: 500;
    min-width: 100px;
    text-align: center;
    color: #555;
    transition: all .3s;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #00bcd4;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #9c27b0;
    color: #FFF;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -11px rgba(156,39,176,.6);
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}
/*.nav-pills>li.active>a{
    padding: 12px 20px;
    margin-right: 10px;
}*/
.nav-pills>li+li {
    margin-left: 2px;
}
</style>

</html>